<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">
    <% if params[:keyword].present? %>
      「<%= params[:keyword] %>」の検索結果
    <% else %>
      人気店舗一覧
    <% end %>
  </h2>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "新規店舗登録", new_shop_path, class: "btn btn-primary" %>
  <% end %>
</div>

<% if @shops.any? %>
  <div class="row">
    <%= render partial: "shop_card", collection: @shops, as: :shop,
               locals: { image_size: [400, 200], truncate_length: 30 } %>
  </div>
<% else %>
  <p>該当する店舗が見つかりませんでした。</p>
<% end %>
